# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
.env/

# Ignore model file
model/model.pkl

# Ignore OS-specific files
.DS_Store
Thumbs.db
desktop.ini
